$crown-gold: #C5A900;
$gold: mix($crown-gold, #ffffff, 8%);
$pastel-gold: hsl(51, 50, 50);

$frog-green: hsl(110, 57, 13);
$green: hsl(110, 60, 25);
$light-green: hsl(110, 60, 33);

$pastel-dark-green: mix($frog-green, #222, 20%);

$brandFont: "Pupcat Bold", "Trebuchet MS", "Arial", sans-serif;
$brand-emsize: ( 28px / $mainFontSize ) * 1em;
