@font-face {
  font-family: 'Pupcat Regular';
  src: url('../font/pupcat/PupcatRg-Regular.eot');
  src: url('../font/pupcat/PupcatRg-Regular.eot?#iefix') format('embedded-opentype'), url('../font/pupcat/PupcatRg-Regular.woff') format('woff'), url('../font/pupcat/PupcatRg-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Pupcat Bold';
  src: url('../font/pupcat/PupcatRg-Bold.eot');
  src: url('../font/pupcat/PupcatRg-Bold.eot?#iefix') format('embedded-opentype'),url('../font/pupcat/PupcatRg-Bold.woff') format('woff'),url('../font/pupcat/PupcatRg-Bold.ttf') format('truetype');
}

$brandFont: "Pupcat Bold", "Trebuchet MS", "Arial", sans-serif;
$brand-emsize-rexrana: ( 28px / $mainFontSize ) * 1em;

.reveal {
    .brand.rex-rana {
      font-family: $brandFont;
      font-size: $brand-emsize-rexrana;
      left: $brand-emsize-rexrana;
      bottom: $brand-emsize-rexrana;
    }
}
