
// Primary/body text
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$mainFontSize: 54px;

// Vertical spacing between blocks of text
$blockMargin: 20px;

@import "mixins";

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: 600;
$heading1TextShadow: $headingTextShadow;

$heading1Size: em(90);
$heading2Size: em(72);
$heading3Size: em(60);
$heading4Size: em(54);

$smallTextSize: em(36);

// preformatted
$preFont: 'Consolas', 'Courier New', 'Lucida Console', 'Monaco', 'Andale Mono', 'Liberation Mono', monospace;
