// font face declarations
@import '../node_modules/reveal.js/lib/font/source-sans-pro/source-sans-pro.css';
@import '../font/pupcat/Pupcat.css';

// Primary/body text
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$mainFontSize: 60px;

// Vertical spacing between blocks of text
$blockMargin: 16px;

@import "mixins";

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: 600;
$heading1TextShadow: $headingTextShadow;

// FONT SIZES
$heading1Size: em(90);
$heading2Size: em(72);
$heading3Size: em(60);
$heading4Size: em(54);
$smallTextSize: em(40);

// preformatted
$preFont: 'Consolas', 'Courier New', 'Lucida Console', 'Monaco', 'Andale Mono', 'Liberation Mono', monospace;
