/**
 * Rex Rana (dark) theme for reveal.js.
 *
 * By Peter Hebert, Rex Rana Design and Development Ltd.
 * https://rexrana.ca
 */

// Default mixins and settings
@import '../node_modules/reveal.js/css/theme/template/mixins';
@import '../node_modules/reveal.js/css/theme/template/settings';

@import "settings-common";

// colors and brand font
@import "colors";
@import "brand";

// Theme settings
@import "theme-dark";

// Theme template ------------------------------
@import '../node_modules/reveal.js/css/theme/template/theme';
// ---------------------------------------------

@import "after-theme-common";

.reveal .slides {
  text-align: inherit;
}

.reveal .brand {
	opacity: 0.25;
}
