/**
 * Rex Rana (light) theme for reveal.js.
 *
 * By Peter Hebert, Rex Rana Design and Development Ltd.
 * https://rexrana.ca
 */

 // Default mixins and settings
 @import '../reveal.js/css/theme/template/mixins';
 @import '../reveal.js/css/theme/template/settings';
 @import "settings-common";

 // Include theme-specific fonts
 @import url(../font/pupcat/Pupcat.css);
 @import url(../reveal.js/lib/font/source-sans-pro/source-sans-pro.css);

 // brand colors and font
 @import "brand";

 // Theme settings

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: $frog-green;

$linkColor: $light-green;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

// Theme template ------------------------------
@import '../reveal.js/css/theme/template/theme';
// ---------------------------------------------

@import "after-theme-common";

.reveal .brand {
	color: $frog-green;
}
