/**
 * Rex Rana (dark) theme for reveal.js.
 *
 * By Peter Hebert, Rex Rana Design and Development Ltd.
 * https://rexrana.ca
 */

// Default mixins and settings
@import '../reveal.js/css/theme/template/mixins';
@import '../reveal.js/css/theme/template/settings';
@import "settings-common";

// brand colors and font
@import "brand";

// Theme settings

// Background of the presentation
$backgroundColor: mix($frog-green, #222, 20%);

// Primary/body text
$mainColor: #fff;

// Headings
$headingColor: #fff;

// Links and actions
$linkColor: $crown-gold;
$linkColorHover: lighten( $linkColor, 15% );

// Text selection
$selectionBackgroundColor: lighten( $linkColor, 25% );
$selectionColor: #fff;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

// Theme template ------------------------------
@import '../reveal.js/css/theme/template/theme';
// ---------------------------------------------

@import "after-theme-common";

.reveal .slides {
  text-align: inherit;
}

.reveal .brand {
	opacity: 0.25;
}
