[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "font-awesome-icons"]
	path = font-awesome-icons
	url = https://github.com/encharm/Font-Awesome-SVG-PNG.git
[submodule "font/cc-icons"]
	path = font/cc-icons
	url = https://github.com/cc-icons/cc-icons.git
