<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>dark green template for reveal.js</title>

		<link rel="stylesheet" href="/node_modules/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="/css/unbranded-dark.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="/css/qtcreator_dark.min.css">

		<!-- Printing and PDF exports -->
		<script src="/js/print-pdf.js"></script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>Slide 1</section>
				<section>Slide 2</section>
			</div>
			<div id="logo-id">Your logo here</div>
		</div>

		<script src="/node_modules/reveal.js/lib/js/head.min.js"></script>
		<script src="/node_modules/reveal.js/js/reveal.js"></script>
		<!-- initialize reveal.js -->
		<script src="js/reveal-init.js"></script>

	</body>
</html>
